.property-detail-container {
  width: 1600px;
  margin: auto;
  padding: 0 40px;
}

.property-title {
  font-size: 2rem;
  font-weight: 600;
  padding: 20px 0;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  padding-top: 4px;
  height: 400px;
}

.grid-item {
  overflow: hidden;
}

.full-height {
  grid-row: span 2;
}

.half-height {
  grid-row: span 1;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.cover-image {
  object-fit: cover;
  cursor: pointer;
  transition: opacity 0.2s;
}

.cover-image:hover {
  opacity: 0.8;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.grid-item:first-child {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.grid-item:last-child {
  border-bottom-right-radius: 16px;
}

.grid-item:nth-child(3) {
  border-top-right-radius: 16px;
}

.property-details {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
}

.property-type {
  font-size: 1.375rem;
  font-weight: 600;
}

.property-info {
  display: flex;
}

.property-info span {
  margin-right: 10px;
  font-size: 1rem;
  color: #222222;
}

.property-info span:not(:last-child)::after,
.property-rating span:not(:last-child)::after {
  content: '\00B7';
  margin-left: 8px;
}

.property-rating {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.actual-rating {
  margin-left: 4px;
  font-size: 1.063rem;
  font-weight: 600;
}

.reviews {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: underline;
}

.host-profile {
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 24px 0;
}

.profile-picture {
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
}

.host-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.host-name {
  font-size: 1rem;
  font-weight: 600;
}

.host-experience {
  color: #717171;
}

.property-description {
  color: #222222;
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 24px 0;
}

.property-amenities {
  color: #222222;
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 24px 0;
}

.property-amenities h2 {
  font-size: 1.375rem;
  font-weight: 600;
  padding-bottom: 24px;
}

.amenities-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.amenity {
  display: flex;
  align-items: center;
}

.amenity span {
  margin-left: 14px;
}
