.site-footer {
  background-color: #f7f7f7;
}

.footer-main {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.footer-column {
  flex: 1;
  padding-top: 20px;
}

.footer-heading {
  color: #333;
  margin-bottom: 15px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
  line-height: 1.25rem;
}

.footer-column ul li a {
  color: #555;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-bottom {
  border-top: solid lightgrey 1px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.bottom-right a,
.bottom-left a {
  color: #555;
  text-decoration: none;
  transition: color 0.3s ease;
}

.bottom-right,
.bottom-left {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-link {
  color: black;
}

@media (min-width: 480px) {
  .footer-main {
    padding: 20px 40px;
  }

  .bottom-right,
  .bottom-left {
    padding: 20px 40px;
  }
}

@media (min-width: 768px) {
  .footer-main {
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
  }

  .bottom-right,
  .bottom-left {
    flex-direction: row;
  }

  .bottom-left a {
    margin-right: 15px;
  }

  .bottom-right a {
    margin-left: 15px;
  }
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
  .footer-main {
    width: 1600px;
    padding: 40px;
  }

  .footer-bottom {
    width: 1600px;
    margin: auto;
  }
}
