.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  padding: 20px;
  margin-inline: auto;
  position: sticky;
  z-index: 1100;
  top: 80px;
  background-color: white;
}

.filter-options {
  display: flex;
  width: 100%;
  overflow-x: auto;
}

.filter-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  color: #808080;
  transition: all 150ms;
  margin-right: 50px;
}

.filter-item:hover {
  color: #333;
  border-color: #ddd;
}

.filter-label {
  font-size: 0.75rem;
  font-weight: 600;
  margin: 0;
  user-select: none;
}

.filter-actions {
  display: none;
}

.filter-action-button {
  display: flex;
  align-items: center;
  border: 1px solid #dddddd;
  border-radius: 12px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  height: 48px;
  padding: 7px 20px;
  text-align: center;
  background-color: white;
}

.property-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-gap: 20px;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
}

.property-card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 100%;
  height: 257px;
  border-radius: 14px;
  object-fit: contain;
  object-position: center;
  overflow: hidden;
}

.card-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.location-info {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.location-name {
  font-weight: 600;
}

.distance-to-park {
  font-size: 0.9375rem;
  color: #717171;
}

.price {
  font-size: 0.9375rem;
  font-weight: 600;
  color: black;
}

.rating {
  font-weight: 600;
}

@media (min-width: 480px) {
  .filters {
    width: 100%;
    padding: 20px 40px;
  }

  .filter-actions {
    display: flex;
  }

  .property-grid {
    width: 100%;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 20px 40px;
  }
}

@media (min-width: 768px) {
  .filters {
    width: 100%;
    padding: 20px 40px;
  }

  .filter-options {
    width: 50%;
  }

  .property-grid {
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 0 40px;
  }
}

@media (min-width: 992px) {
  .filters {
    width: 100%;
    padding: 20px 40px;
  }

  .filter-options {
    width: 75%;
  }

  .property-grid {
    width: 100%;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 0 40px;
  }
}

@media (min-width: 1280px) {
  .filters {
    width: 100%;
    padding: 20px 40px;
  }

  .property-grid {
    width: 100%;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 0 40px;
  }
}

@media (min-width: 1536px) {
  .filters {
    width: 1600px;
  }

  .property-grid {
    width: 1600px;
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
