/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  text-decoration: none;
}

/* Utility Classes */
.container {
  margin: auto;
  max-width: 1600px;
  overflow: auto;
  padding: 0 20px;
}

header {
  width: 100vw;
  border-bottom: 1px solid black;
}

/* Navbar */
#header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1600px;
  height: 80px;
  margin-inline: auto;
}

#navbar {
  display: flex;
  align-items: center;
}

.nav-searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 9999px;
  padding: 0 14px;
}

.divider {
  width: 1px;
  height: 30px;
  background-color: #ccc;
  margin: 0 14px;
}

#navbar-text {
  margin-right: 20px;
}

#signup-button {
  background-color: transparent;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 9999px;
  cursor: pointer;
}

.property-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 20px;
}

.property-card {
  width: 270px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 100%;
  height: 257px;
  background-color: red;
  border-radius: 14px;
}

.card-content {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  background-color: #fff;
}

.location-info {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.location-name {
  font-weight: 700;
}

.distance-to-park,
.booking-info,
.price {
  opacity: 0.8;
  font-size: 14px;
}

.price {
  font-weight: 700;
}

.rating {
  font-weight: 700;
}
